﻿@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .QQ {
        color:red;
    }
</style>
<script src="~/Scripts/dfi-ow-connection-test-v4.js"></script>

<script>

    function SignOn() {
        var dfiApi = DFIOwApi.getInstance();
        alert(dfiApi.getDFIAzureB2CURL());
        window.location = dfiApi.getDFIAzureB2CURL();
    }
    function setCookie() {
        var result;
        var options = {
            type: "GET",
            //url: this.host_url + "/uas/api/partner/setcookie?idtoken=" + idtoken,
            url: "http://localhost:64275/DesktopModules/PartnerZone/API/cookie/set?idtoken=gg123",
            async: false,
            xhrFields: { withCredentials: true },
            success: function (data) {
                result = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                result = thrownError;
            }
        };
        $.ajax(options);
        alert(result);
    }
    function getCookie() {
        var dfiApi = DFIOwApi.getInstance();
        //alert(dfiApi.isDFIAzureB2CIDTokenExsit());
        alert(dfiApi.getDFIAzureB2CIDToken());

        //var result = "";
        //var options = {
        //    type: "GET",
        //    //url: this.host_url + "/uas/api/partner/getcookie",
        //    url: "http://localhost:64275/DesktopModules/PartnerZone/API/cookie/get",
        //    async: false,
        //    xhrFields: { withCredentials: true },
        //    //dataType: "json",
        //    success: function (data) {
        //        result = data;
        //    },
        //    error: function (xhr, ajaxOptions, thrownError) {
        //    }
        //};
        //$.ajax(options);
        //alert(result);
    }
    function getData() {
        var dfiApi = DFIOwApi.getInstance();
        var data = {
            category: "工業級主機板",
            subcategory: "",
            product: "",
            keyword: "",
            lang: "zh-tw",
        };
        alert(dfiApi.getModelDownLoadList(data));
        //alert(dfiApi.getDFIUserAuthorization("EMS"));
       

        //alert(dfiApi.getDFIPZGroupList("EMS"));
        //var result = "";
        //var options = {
        //    type: "GET",
        //    url: "http://localhost:64275/DesktopModules/PartnerZone/API/data/get?system=EMS&functions=true&groups=true",
        //    async: false,
        //    xhrFields: { withCredentials: true },
        //    //dataType: "json",
        //    success: function (data) {
        //        result = data;
        //    },
        //    error: function (xhr, ajaxOptions, thrownError) {
        //    }
        //};
        //$.ajax(options);
        //alert(result);
    }

    function signout() {
        var dfiApi = DFIOwApi.getInstance();
        dfiApi.postDFIUserSignOut();
    }

    function signup() {
        var dfiApi = DFIOwApi.getInstance();
        //var data = {
        //    email: "wei62206@gmail.com",
        //    company: "dfi",
        //};

        var data = {
            PZ_Email: "testqqq2@dfi.com",
            PZ_Company: "dfi",
            PZ_FirstName: "jerry",
            PZ_LastName: "chen",
            PZ_Title: "engineer",
            PZ_Country: "taipei",
            PZ_State: "taiwan",
            PZ_Phone: "",
            PZ_Langcode: "",
            PZ_Status: false,
        }
        alert(dfiApi.postCustomerSignUpData(data));
    }

    function test() {
        //var result;
        //var url = "http://localhost:57002/uas/api/auth/gettoken?id=4610";
        //var url = "http://localhost:57002/uas/api/partner/getdownloadlist?idtoken=&Category=&Subcategory=&Product=&Keyword=&Lang=en-us";
        var url = "https://daas.dfi.com/DesktopModules/PartnerZone/API/data/getDownloadList?Category=&Subcategory=&Product=&Keyword=&Lang=en-us";
        //var url = "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22nome%2C%20ak%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys";
        //var url = "http://localhost:64275/DesktopModules/PartnerZone/API/data/getDownloadList?Category=qq&Subcategory=&Product=&Keyword=&Lang=en-us";
        //var url = "https://localhost:44348/DesktopModules/PartnerZone/API/data/getDownloadList?Category=qq&Subcategory=&Product=&Keyword=&Lang=en-us";

        //var url = "http://172.18.8.44:8087/uas/api/auth/gettoken?id=4610";

        //var url = "https://daas.dfi.com/DesktopModules/PartnerZone/API/data/test";


        $.support.cors = true;
        var options = {
            type: "Get",
            url: url,
            //contentType: "application/json",
            //data: {},
            dataType: "json",
            async: true,
            //xhrFields: { withCredentials: true },
            //crossDomain: true,
            //processData:false,
            success: function (data) {
                alert(123);
                alert(data);
                //result = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //debugger;
                alert("Error");
                return "Error";
            }
        };

        $.ajax(options);

        //return result;
    }
    
    function Verify() {
        //var s = "Driver_643_KU00000-00G_170710_05.iso";
        var s = $("#VerifyCode").val();
        var reg = /[\/\\\ \'\"]+/g;
        alert(reg.test(s));
    }
</script>
<img src="https://img1.wsimg.com/isteam/ip/7fcb65c9-225e-4920-8d96-5682eee2ce84/b67f3c92-3840-4564-9693-44e6bd216226.jpg/:/rs=w:400,cg:true,m" />
<img src="http://jciplan.com/assets/img/s1.png" />

<div id="Q1" class="QQ">
    123
    <div class="QQ">Q11</div>
    <div class="QQ">Q12</div>
</div>
<div id="Q2" class="QQ">444
    <div class="QQ">Q21</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>api cookie</h2>
        <p>partner zore test.</p>
        <p>
            <a class="btn btn-default" href="#" onclick="setCookie();">Set Cookie &raquo;</a>
            <a class="btn btn-default" href="#" onclick="getCookie();">Get Cookie&raquo;</a>
            <a class="btn btn-default" href="#" onclick="getData();">Get Data&raquo;</a>
            <a class="btn btn-primary" href="#" onclick="SignOn();">SignOn &raquo;</a>
            <a class="btn btn-default" href="#" onclick="signout();">signout&raquo;</a>
            <a class="btn btn-default" href="#" onclick="signup();">signup&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>file upload</h2>
        <p>Download center test.</p>
         <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
             <input type="file" name="files" />
             <input type="file" name="files" />
             <input type="submit"  value="formPost" />
         </form>
        <div id="DownloadChunk"></div>
        <a href="@Url.Action("Download")" class="btn btn-warning">filestream</a>
        <a href="~/uploads/Desktop.zip">filelink</a>
        
        <input type="file" name="uploadfiles" />
        <input type="file" name="uploadfiles" />
        @*<input type="file" name="uploadfiles" />*@
        <a class="btn btn-primary" href="#" id="btnUpload">Upload</a>
        <a class="btn btn-primary" href="#" id="btnConvertBase64">ConvertBase64</a>
        <a class="btn btn-primary" href="#" id="btnUploadWithJson">UploadByJson</a>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        
        <p><a href="#" class="btn btn-primary" onclick="test()">Test Post</a></p>
        <p><input id="VerifyCode" value=""/><a href="#" class="btn btn-primary" onclick="Verify();">Verify</a></p>
    </div>
</div>

@section scripts{
    <script>
        var fileStrings = [];
        $(document).ready(function () {

            $("div#Q1 .QQ").style("color","blue");

            $('#btnUpload').click(function () {
                var formData = new FormData();
                formData.append('files', $('input[name="uploadfiles"]')[0].files[0]);
                formData.append('files', $('input[name="uploadfiles"]')[1].files[0]);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload")',
                    contentType: false,
                    processData: false,
                    data: formData
                }).done(function (data) {
                    // data = JSON.parse(data);
                    alert(data.status);
                    $("#DownloadChunk").html(data.status);
                });

                //$('input[name="uploadfiles"]').each(function (idx, obj) {
                //    if (obj !== null && obj.files !== null && obj.files.size !== null) {
                //        UploadFile(obj.files);
                //    }
                //});
            });

          

            $('#btnConvertBase64').click(function () {
                var file = document.querySelector('input[name="uploadfiles"]').files[0];
                // prints the base64 string
                getBase64(file);
            });

            $('#btnUploadWithJson').click(function () {
                var qq1 = {
                    'bin': fileStrings[0],
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadWithJson")',
                    //contentType: false,
                    contentType: "application/json",
                    //processData: false,
                    data: JSON.stringify(qq1),
                    dataType: "json",
                }).done(function (data) {
                    //...
                });
            });
        });

        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                fileStrings.push(reader.result);
                alert("OK");
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
            //return reader.result;
        }

        function UploadFile(TargetFile) {
            // create array to store the buffer chunks
            var FileChunk = [];
            // the file object itself that we will work with
            var file = TargetFile[0];
            // set up other initial vars
            var MaxFileSizeMB = 1;
            var BufferChunkSize = MaxFileSizeMB * (1024 * 1024);
            var ReadBuffer_Size = 1024;
            var FileStreamPos = 0;
            // set the initial chunk length
            var EndPos = BufferChunkSize;
            var Size = file.size;

            // add to the FileChunk array until we get to the end of the file
            while (FileStreamPos < Size) {
                // "slice" the file from the starting position/offset, to  the required length
                FileChunk.push(file.slice(FileStreamPos, EndPos));
                FileStreamPos = EndPos; // jump by the amount read
                EndPos = FileStreamPos + BufferChunkSize; // set next chunk length
            }
            // get total number of "files" we will be sending
            var TotalParts = FileChunk.length;
            var PartCount = 0;
            // loop through, pulling the first item from the array each time and sending it
            while (chunk = FileChunk.shift()) {
                PartCount++;
                // file name convention
                var FilePartName = file.name + ".part_" + PartCount + "." + TotalParts;
                // send the file
                UploadFileChunk(chunk, FilePartName);
            }
        }

        function UploadFileChunk(Chunk, FileName) {
            var FD = new FormData();
            FD.append('files', Chunk, FileName);
            $.ajax({
                type: "POST",
                url: '@Url.Action("PartialUpload")',
                contentType: false,
                processData: false,
                data: FD
            }).done(function (data) {
               // data = JSON.parse(data);
                $("#DownloadChunk").html(data);
            });
        }
    </script>
}